{% extends 'base/base.html' %}
{% load staticfiles %}

{% block filecss %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/course.css' %}" />
{% endblock %}

{% block content %}
<div class="content_course">

    <div class="title">
        <h1>{{ course.name }}</h1>
    </div>
    <div class="content_table">
        <p>Fecha de inicio: <i>{{ course.uc }}</i></p>
        <p>Fecha de fin: <i>{{ course.code }}</i></p>
        <p>Fecha de fin: <i>{{ course.status }}</i></p>
        <p>
            <a href="{% url "list" %}">Regresar</a>
        </p>
    </div>
</div>
{% endblock %}
