{% extends 'base/base.html' %}
{% load staticfiles %}

{% block filecss %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/course.css' %}" />
{% endblock %}

{% block content %}
<div class="content_course">

    <div class="title">
        <h1>Actualizar Curso</h1>
    </div>
    
    <p>
        <a href="{% url "new" %}">Agregar curso</a>
    </p>
    
    <ul>
        {% for course in object_list %}
        <li>
            <p>{{ course.name }}</p>
            <p>
                <a href="{% url "detail" course.id %}">Ver</a> | 
                <a href="{% url "edit" course.id %}">Editar</a> | 
                <a href="{% url "delete" course.id %}">Borrar</a> 
            </p>
        </li>
    {% endfor %}
</ul>
</div>
{% endblock %}