*{
	margin:0px;
	padding:0px;
	font-family: helvetica Neue;
	font-weight: lighter;
}

nav{
	position: fixed;
	width: 180px;
	height: 100%;
	background-color: #2d2d2d;
	top: 50px;
}

ul{
	margin-top:0px;
	list-style: none;
	display: block;
}

li{
	width: 100%;
	height:50px;
	border-bottom: 1px solid #323232;
	overflow: hidden;
}

p.menu{
	position: relative;
	padding:16px;
	padding-right: 25px;
	float:right;
	color:white;
	opacity: .6;
	font-size: 1.2em;
	-webkit-transition: opacity .2s;
	text-align: center;
}

div.barra{
	position: absolute;
	height: 50px;
	width: 0px;
	background-color: #aaa;
	opacity: .1;
	-webkit-transition: width .2s;
}

li:hover div.barra{
	width:180px;
}

input#buscador{
	width:1655px;
	height:50px;
	background-color: #3c3c3c;
	outline: none;
	border: 0px;
	color: white;
	font-size: 1.2em;
	text-align: right;
	padding-right:15px;
	background-image: url(../pictures/search.png);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	-webkit-transition: background-position .2s;
}

input#buscador:focus{
	background-position: 180px 15px;
}

::-webkit-input-placeholder{
	color: #e2e2e2;
	text-align: right;
	opacity: .1;
}

li:hover p.menu{
	opacity: 1;
}

header{
	width: 100%;
	height: 50px;
	margin: 0px;
	background: #2d2d2d;
	position: fixed;
    top: 0;
    z-index: 9;
}

.brand {
	position: fixed;
    font-size: 22px;
    float: left;
    padding: 10px;
    height: 40px;
    color: white;
    opacity: .6;
}

.title{ 
	width: 400px; 
	margin: 0 auto; 
	text-align: center;
	margin-top: 70px !important;
	margin-bottom: 3.5rem !important;	 
}

.container{
	height: 100%;
	position: relative;
	width: 400px;
	margin: 0 auto;
	text-align: center;
	justify-content: center;
	align-items: center;	
}


.filtro{
	position: absolute !important;
	padding: 0px;
	float: right; 
	width: 100px;
	margin: 0px !important;
	text-align: right !important;
	justify-content: center !important;
	align-items: center !important;
	background-color: #2d2d2d;
	border-radius:15px;
	top: -7px;
 	right: -229px !important;
 	height: 200px;
}

.contenido{
	width: 400px;
	height: 400px;
}

div.sub_barra{
	position: absolute;
	height: 50px;
	width: 0px;
	background-color: #aaa;
	opacity: .1;
	-webkit-transition: width .2s;
}

li:hover div.sub_barra{
	width:140px;
}




















































