<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/control_academico/css/style.css" />
	<style>
		.title{ 
			width: 400px; 
			margin: 0 auto; 
			text-align: center;
			margin-top: 25px !important;
			margin-bottom: 3.5rem !important;	 
		}

		.container{
			width: 400px;
			margin: 0 auto;
			text-align: center;
			justify-content: center;
			align-items: center;	
		}
	</style>

</head>
<body>
	<div class="row">

		<div class="col-md-12">
			<h1 class="title">Alumnos</h1>
		</div>
		
		<div class="container col-lg-8 col-md-offset-2">
			<table class="listar table table-striped table-bordered">
				<thead>
					<tr>
						<td>Nombre</td>
						<td>Apellido</td>
						<td>Promedio</td>
					</tr>
				</thead>
				<tbody>
				{% if alumnos %}
					{% for alumno in alumnos %}
					<tr>
						<td>{{alumno.id_enrollment__id_student__names}}</td>
						<td>{{alumno.id_enrollment__id_student__surnames}}</td>
						<td>{{alumno.dcount}}</td>
					</tr>
					{% endfor %}
				{% else %}
				<div>
					<h1>No existen registros de alumnos</h1>
				</div>
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</body>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script>
	$(document).ready(function() {
	$('.listar').DataTable();
} );
</script>

</html>